body {
    /* background: black; */
    display:flex;
    align-items:center;
    justify-content: center;
}
html {
    background: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
    background-attachment: fixed;
    box-sizing: border-box;
    font-size: 62.5%; 
}
.navegacion {
    background-color:dimgrey;
    padding: 1rem 0;
    display: list-item;
    justify-content:center;
    gap: 2rem; 
}
.navegacion__enlace {
        color: whitesmoke;
        font-size: 3rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
     color:purple;
}
header{
    width: 100%;
}
.footer {
    transform: translate(-550px,300px);
    padding: 1rem 0;
    margin-top: 2rem;
    width: auto;
    height: 40px;
} 
.footer__texto {
        color: whitesmoke;
        text-align: center;
        font-size: 2.2rem;  
}